<!DOCTYPE html>
<html>
<head>
    <title>Routes: Stroll Safely Project</title>
    <link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
</head>
<body>
    <div id="map"></div>
        <!-- Create the map itself -->
        <script type="text/javascript" src='{{ url_for('static',filename='initmap.js')}}'></script>
        <!-- Load the Google Maps API right here -->

    <!--
    <script src="https://maps.googleapis.com/maps/api/js?key=KEY-HERE&callback=initMap"
    async defer></script>
    -->

    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
    async defer></script> 
    <!--
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=KEY-HERE&callback=initMap"
      type="text/javascript"></script>
  -->
</body>
</html>
