<!DOCTYPE html>
<html>
<head>
    <title>Routes: Stroll Safely Project</title>
    <link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8bE1w_yUuwqQasTvMEra9ZFOyJL-og1c&libraries=visualization,places">
    </script>
</head>
<body>
    <form action="\" id="route-me">
        <input type="text" id="start-point" class="controls" name="start_point" placeholder="start point">
        <input type="text" id="end-point" class="controls" name="end_point" placeholder="end point">
        <button id="route-button" class="controls">Route Me</button>
    </form>
    <div id="parse-user-data"></div>
    <div id="map"></div>

    <!--
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
    async defer></script>  
    -->

    <!-- Create the map itself -->
    <script type="text/javascript" src='{{ url_for('static',filename='main.js')}}'></script>
    <!-- Load the Google Maps API right here -->
</body>
</html>
